<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Birth</h2>
            <form action="Result" method="post">
                <div class="mb-3">
                    <label class="form-label" for="imie">Imię</label>
                    <input class="form-control" type="text" name="imie" id="imie" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="BirthDate">Data urodzenia</label>
                    <input class="form-control" type="date" name="BirthDate" id="BirthDate" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Oblicz</button>
                </div>
            </form>
        </div>
    </div>
</div>
